@charset "utf-8";
html {
    font-size: 100%;
}
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: dimgray;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/* header
------------------------------------------*/
.logo {
    width: 150px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-top: 25px;
    list-style: none;
}
.main-nav li {
    margin-left: 35px;
}
.main-nav a {
    color: dimgray;
}
.main-nav a:hover {
    color: dimgray;
}